In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../Data/travel_insurance/train.csv")

In [3]:
data.head()

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No

## Q1

In [4]:
number_of_rows = data.shape[0]
number_of_rows

1590

In [5]:
number_of_columns =  data.shape[1]
number_of_columns

10

## Q2

In [6]:
annual_income_mean = int(data.AnnualIncome.mean())
annual_income_mean

928553

## Q3

In [7]:
ever_travel_abroad = data.EverTravelledAbroad.value_counts()["Yes"]
ever_travel_abroad

302

## Q4

In [8]:
employment_type_max = "Government Sector" if data["Employment Type"].value_counts()["Government Sector"] > data["Employment Type"].value_counts()["Private Sector/Self Employed"] else "Private Sector/Self Employed"
employment_type_max

'Private Sector/Self Employed'

In [9]:
employment_type_max_percentage = round(data["Employment Type"].value_counts()[employment_type_max]/data.shape[0] * 100, 2)
employment_type_max_percentage

72.64

## Q5

In [10]:
chronic_insured_percentage = round(data[(data.ChronicDiseases == 1) & (data.TravelInsurance == "Yes")].shape[0] / data[(data.ChronicDiseases == 1)].shape[0] * 100, 2)
chronic_insured_percentage

37.53

## Write the answers in a text file

In [11]:
with open("analysis_of_insurance_outputs.txt", "w") as answers_file:
    answers_file.write(f"{number_of_rows} {number_of_columns}\n")
    answers_file.write(f"{annual_income_mean}\n")
    answers_file.write(f"{ever_travel_abroad}\n")
    answers_file.write(f"{employment_type_max} {employment_type_max_percentage}\n")
    answers_file.write(f"{chronic_insured_percentage}")