In [1]:
import pandas as pd
import numpy as np

In [2]:
df_test = pd.read_csv('travel_insurance/train.csv')

In [3]:
df_test

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No
...,...,...,...,...,...,...,...,...,...,...
1585,W9JDK752JWHA,29,Private Sector/Self Employed,Yes,600000,3,0,No,No,No
1586,2JEE5P5T9MT0,34,Private Sector/Self Employed,Yes,850000,3,1,No,Yes,No
1587,797K83M5QWO2,34,Private Sector/Self Employed,No,1300000,4,0,No,No,No
1588,8V9QYC8TCCMF,33,Government Sector,Yes,400000,5,0,No,No,No
1589,8VEME4MXPTBC,28,Private Sector/Self Employed,Yes,750000,5,1,Yes,No,No

In [4]:
q1 = df_test.shape
q1

(1590, 10)

In [5]:
q2 = round(df_test['AnnualIncome'].mean())
q2

In [6]:
q3 = df_test['EverTravelledAbroad'][df_test['EverTravelledAbroad'] == 'Yes'].count()
q3

302

In [7]:
Government_Sector = df_test['Employment Type'][df_test['Employment Type'] == 'Government Sector'].count()
Private_Sector_Self_Employed = df_test['Employment Type'][df_test['Employment Type'] == 'Private Sector/Self Employed'].count()
Employment_count = df_test['Employment Type'].count()
q4 = ('Government Sector',round(Government_Sector*100/Employment_count,2)) if Government_Sector > Private_Sector_Self_Employed else ('Private Sector/Self Employed',round(Private_Sector_Self_Employed*100/Employment_count,2))
q4

In [8]:
got_travel_insurance = df_test[(df_test['ChronicDiseases'] == 1) & (df_test['TravelInsurance'] == 'Yes')].count()
postive_ChronicDiseases = df_test[df_test['ChronicDiseases'] == 1].count()
q5 = round((got_travel_insurance/postive_ChronicDiseases)*100,2).iloc[6]
q5

37.53

In [9]:
with open('output.txt','w') as file:
    file.write(str(q1[0]))
    file.write('\t')
    file.write(str(q1[1]))
    file.write('\n')
    file.write(str(q2))
    file.write('\n')
    file.write(str(q3))
    file.write('\n')
    file.write(str(q4))
    file.write('\n')
    file.write(str(q5))