## Exploration-analysis of insurance

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("train.csv")
data.head(10)

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No
5,V4GZ5HKMGHZ1,28,Government Sector,Yes,300000,6,1,No,No,No
6,VZRMW8H4O2AX,29,Private Sector/Self Employed,Yes,1100000,4,0,No,No,No
7,WBJUKIWUMMIU,28,Private Sector/Self Employed,Yes,500000,5,0,No,No,No
8,W4H1AN0T8WRJ,26,Private Sector/Self Employed,Yes,1500000,5,0,Yes,Yes,Yes
9,NMDQXNZ6ZP3Y,31,Government Sector,No,400000,3,0,No,No,No

In [3]:
alldata = len(data)
alldata

1590

#### P1

In [4]:
data.shape

(1590, 10)

#### P2

In [5]:
round(data['AnnualIncome'].mean())

928553

#### P3

In [6]:
traveled_df = data.groupby('EverTravelledAbroad')['EverTravelledAbroad'].count()
traveled_df

EverTravelledAbroad
No     1288
Yes     302
Name: EverTravelledAbroad, dtype: int64

In [7]:
yes_data = traveled_df.loc['Yes']
yes_data

302

#### P4

In [8]:
Gov_or_Priv = data.groupby('Employment Type')

In [9]:
new_gp = Gov_or_Priv.get_group('Private Sector/Self Employed')
new_gp

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No
6,VZRMW8H4O2AX,29,Private Sector/Self Employed,Yes,1100000,4,0,No,No,No
...,...,...,...,...,...,...,...,...,...,...
1584,BHKTUGCC9GUT,29,Private Sector/Self Employed,Yes,1200000,4,0,No,No,No
1585,W9JDK752JWHA,29,Private Sector/Self Employed,Yes,600000,3,0,No,No,No
1586,2JEE5P5T9MT0,34,Private Sector/Self Employed,Yes,850000,3,1,No,Yes,No
1587,797K83M5QWO2,34,Private Sector/Self Employed,No,1300000,4,0,No,No,No
1589,8VEME4MXPTBC,28,Private Sector/Self Employed,Yes,750000,5,1,Yes,No,No

In [10]:
Priv_mean = round(len(new_gp)/alldata*100)
Priv_mean

73

#### P5

In [11]:
new_data = data.groupby(['ChronicDiseases','TravelInsurance'])['TravelInsurance'].count()
new_data

ChronicDiseases  TravelInsurance
0                No                 753
                 Yes                392
1                No                 278
                 Yes                167
Name: TravelInsurance, dtype: int64

In [ ]:
DisInsur = new_data.loc[['1','Yes']]
DisInsur