In [107]:
import pandas as pd
import numpy as np

In [108]:
df=pd.read_csv('esm_famil_data.csv')

In [109]:
df

       esm   famil keshvar      rang     ashia       ghaza
0      اوا    اسدی   المان       ابی    استکان     اب گوشت
1     ارزو  ارمانی  البانی      اجری     ایینه          اش
2     اتنا   اکبری  انگولا   ارغوانی       اره  برنج خورشت
3      ارش   اعظمی   اتریش    ارکیده  اره برقی  باقالی پلو
4     امنه   امینی  امریکا  البالویی    اب پاش      به پلو
..     ...     ...     ...       ...       ...         ...
162   هلیا     NaN     NaN       NaN       NaN         NaN
163   یاسر     NaN     NaN       NaN       NaN         NaN
164   یلدا     NaN     NaN       NaN       NaN         NaN
165  یاسمن     NaN     NaN       NaN       NaN         NaN
166    یاس     NaN     NaN       NaN       NaN         NaN

[167 rows x 6 columns]

In [111]:
data_frame=pd.DataFrame()
def add_participant(participant,answers:dict):
    global data_frame
    new_data_frame=pd.DataFrame(answers,index=[participant])
    data_frame=pd.concat([data_frame,new_data_frame])
    return data_frame

In [113]:
data_2=add_participant(participant = 'salib', answers = {'esm': 'بردیا', 'famil': 'بردیایی', 'keshvar': 'برزیل', 'rang': 'بژ', 'ashia': 'بیل', 'ghaza': 'باقالیپلو'})
data_2

         esm    famil keshvar rang ashia      ghaza
salib  بردیا  بردیایی   برزیل   بژ   بیل  باقالیپلو

In [114]:
data_2=add_participant(participant = 'ali', answers = {'esm': 'بهراد', 'famil': 'بابایی', 'keshvar': 'باربادوس', 'rang': 'بنفش', 'ashia': 'بمب', 'ghaza': 'باقالیپلو'})

In [115]:
data_2=add_participant(participant = 'alireza', answers = {'esm': None, 'famil': 'بابیابب', 'keshvar': 'بولیوی', 'rang': 'بنفش', 'ashia': 'بمب', 'ghaza': 'باقالیپلو'})

In [153]:
def calculate_all(data,esm_famil_data): 
    for item in esm_famil_data.columns:
        data[f'{item} rating']=0
    data['sum']=0
        
    for participant in data.index:
        for item in esm_famil_data.columns:
            if not pd.isna(data[item]).any():
                if data.loc[participant,item] in list(esm_famil_data[item]):
                # data_2.loc[participant,f'{item} rating']=1
            # if data_2.loc[participant,item] in list(df[item]):
                    if data[item].value_counts()[data.loc[participant,item]]>1:
                        data.loc[participant,f'{item} rating']=5
                    else:
                        data.loc[participant,f'{item} rating']=10
            else:
                if data.loc[participant,item] in list(esm_famil_data[item]):
                    if data[item].value_counts()[data_2.loc[participant,item]]>1:
                        data.loc[participant,f'{item} rating']=10
                    else:
                        data.loc[participant,f'{item} rating']=15
    list_of_sum=data.columns[len(data_2.columns)//2:]
    data['sum']=data.loc[:,list_of_sum].sum(axis=1)
    return data['sum']

In [154]:
calculate_all(data=data_2,esm_famil_data=df)

salib      45
ali        30
alireza    20
Name: sum, dtype: int64