## Shopping-cart analysis

In [1]:
import numpy as np
import pandas as pd

In [2]:
supermarket = pd.read_csv("supermarket.csv")
supermarket.head(10)

    Customer Id        Date           Product
0  JKML5ZWXP0XQ  2020-07-20    tropical fruit
1  YOGWQIUPDAJ7  2020-04-30        whole milk
2  Q3NL22281AF6  2020-09-18         pip fruit
3  C59GRTLMZQAU  2020-12-11  other vegetables
4  WUSF8LTEQZ5L  2020-01-02        whole milk
5  MICEEAEQ9LX5  2020-02-14        rolls/buns
6  XBIAXE6PVLF7  2020-08-04  other vegetables
7  QJ7BSEZEXTDA  2020-12-22        pot plants
8  QAIAGD5XA9EW  2020-03-19        whole milk
9  QXH9SBEFLTPU  2020-12-01    tropical fruit

#### P1

In [3]:
supermarket["Product"].unique()

array(['tropical fruit', 'whole milk', 'pip fruit', 'other vegetables',
       'rolls/buns', 'pot plants', 'citrus fruit', 'beef', 'chicken',
       'butter', 'fruit/vegetable juice', 'packaged fruit/vegetables',
       'chocolate', 'specialty bar', 'butter milk', 'bottled water',
       'yogurt', 'sausage', 'brown bread', 'hamburger meat',
       'root vegetables', 'pastry', 'berries', 'coffee', 'turkey',
       'curd cheese', 'frozen potato products', 'flour', 'sugar',
       'frozen meals', 'herbs', 'soda', 'detergent', 'grapes',
       'processed cheese', 'fish', 'curd', 'pasta', 'popcorn',
       'finished products', 'beverages', 'bottled beer', 'dessert',
       'specialty chocolate', 'condensed milk', 'cleaner', 'meat',
       'ice cream', 'hard cheese', 'pickled vegetables', 'UHT-milk',
       'candy', 'onions', 'domestic eggs', 'margarine', 'salt', 'oil',
       'whipped/sour cream', 'frozen vegetables', 'sliced cheese',
       'dish cleaner', 'baking powder', 'specialty cheese', 'salty snack',
       'Instant food products', 'white bread', 'soap', 'frozen chicken',
       'house keeping products', 'spread cheese', 'decalcifier',
       'frozen dessert', 'nuts/prunes', 'potato products', 'frozen fish',
       'hygiene articles', 'artif. sweetener', 'light bulbs',
       'canned vegetables', 'chewing gum', 'canned fish', 'cookware',
       'semi-finished bread', 'bathroom cleaner', 'zwieback',
       'canned fruit', 'frozen fruits', 'baby cosmetics', 'spices',
       'napkins', 'waffles', 'sauces', 'chocolate marshmallow',
       'long life bakery product', 'bags', 'sweet spreads', 'soups',
       'mustard', 'specialty fat', 'instant coffee', 'snack products',
       'organic sausage', 'soft cheese', 'mayonnaise', 'dental care',
       'roll products', 'kitchen towels', 'flower soil/fertilizer',
       'cereals', 'meat spreads', 'dishes', 'male cosmetics', 'candles',
       'cooking chocolate', 'seasonal products', 'abrasive cleaner',
       'ketchup', 'cream', 'skin care', 'nut snack', 'cocoa drinks',
       'softener', 'organic products', 'cake bar', 'honey', 'jam',
       'kitchen utensil', 'flower (seeds)', 'rice', 'tea',
       'salad dressing', 'specialty vegetables', 'pudding powder',
       'ready soups', 'make up remover', 'toilet cleaner',
       'preservation products'], dtype=object)

In [4]:
total_bought = len(supermarket["Product"].unique())
total_bought

137

#### P2

In [5]:
supermarket.groupby(['Date'])['Product'].count().head(60)

Date
2019-01-01    46
2019-01-02    56
2019-01-03    46
2019-01-04    57
2019-01-05    36
2019-01-06    27
2019-01-07    27
2019-01-08    38
2019-01-09    53
2019-01-10    53
2019-01-11    30
2019-01-12    35
2019-01-13    36
2019-01-14    51
2019-01-15    27
2019-01-16    37
2019-01-17    40
2019-01-18    44
2019-01-19    41
2019-01-20    43
2019-01-21    49
2019-01-22    34
2019-01-23    56
2019-01-24    36
2019-01-25    38
2019-01-26    24
2019-01-27    42
2019-01-28    57
2019-01-29    29
2019-01-30    58
2019-01-31    57
2019-02-01    48
2019-02-02    37
2019-02-03    54
2019-02-04    56
2019-02-05    50
2019-02-06    50
2019-02-07    57
2019-02-08    48
2019-02-09    60
2019-02-10    39
2019-02-11    44
2019-02-12    40
2019-02-13    39
2019-02-14    51
2019-02-15    47
2019-02-16    47
2019-02-17    52
2019-02-18    45
2019-02-19    36
2019-02-20    41
2019-02-21    36
2019-02-22    54
2019-02-23    36
2019-02-24    55
2019-02-25    38
2019-02-26    59
2019-02-27    48
2019-02-28    42
2019-03-01    44
Name: Product, dtype: int64

In [6]:
BPD = round(supermarket.groupby(['Date'])['Product'].count().mean(),2)
BPD

44.93

#### P3

In [7]:
Four_Least = supermarket.groupby('Product')['Customer Id'].count().sort_values(ascending = True).head(4)
Four_Least

Product
kitchen utensil          1
preservation products    1
baby cosmetics           3
bags                     4
Name: Customer Id, dtype: int64

#### P4

In [8]:
Five_Customer = supermarket.groupby(['Customer Id','Date'])['Product'].count().sort_values(ascending = False).head(5)
Five_Customer

Customer Id   Date
H9BRJQMWGT5B  2020-06-17    9
DD3KOEOVDVIM  2020-04-16    9
MC1BX6TSP1OP  2020-12-06    9
ED8WY0DE27XG  2020-05-28    9
JS4R1I2PUM8C  2020-12-26    8
Name: Product, dtype: int64

#### P5

In [9]:
supermarket['Date'] = pd.to_datetime(supermarket['Date'])
supermarket['Date'] = supermarket['Date'].dt.strftime('%A')
supermarket

        Customer Id       Date                Product
0      JKML5ZWXP0XQ     Monday         tropical fruit
1      YOGWQIUPDAJ7   Thursday             whole milk
2      Q3NL22281AF6     Friday              pip fruit
3      C59GRTLMZQAU     Friday       other vegetables
4      WUSF8LTEQZ5L   Thursday             whole milk
...             ...        ...                    ...
32705  PM1BQU9H9S2Q  Wednesday                    oil
32706  6AWIAP3ZV551   Saturday          sliced cheese
32707  LRWVFLSC8X5B   Saturday                  candy
32708  8KYRMELYKNIH    Tuesday               cake bar
32709  41NGW85T47Q1    Tuesday  fruit/vegetable juice

[32710 rows x 3 columns]

In [10]:
total_days = supermarket.groupby('Date')['Date'].count()
total_days

Date
Friday       4539
Monday       4655
Saturday     4774
Sunday       4480
Thursday     4614
Tuesday      4802
Wednesday    4846
Name: Date, dtype: int64

In [11]:
days_dict = total_days.to_dict()
days_dict

{'Friday': 4539,
 'Monday': 4655,
 'Saturday': 4774,
 'Sunday': 4480,
 'Thursday': 4614,
 'Tuesday': 4802,
 'Wednesday': 4846}

In [12]:
maxday = max(days_dict.values())
ndays_in_total = list(days_dict.keys())
days_in_total = list(days_dict.values())
ind = days_in_total.index(maxday)
most_day_total = ndays_in_total[ind]
most_day_total

'Wednesday'

#### P6

In [13]:
product_counts = supermarket['Product'].value_counts()
product_counts

whole milk               2363
other vegetables         1827
rolls/buns               1646
soda                     1453
yogurt                   1285
                         ...
frozen chicken              5
bags                        4
baby cosmetics              3
kitchen utensil             1
preservation products       1
Name: Product, Length: 137, dtype: int64

In [14]:
total_trans = len(supermarket)
support = product_counts/total_trans
support

whole milk               0.072241
other vegetables         0.055854
rolls/buns               0.050321
soda                     0.044421
yogurt                   0.039285
                           ...
frozen chicken           0.000153
bags                     0.000122
baby cosmetics           0.000092
kitchen utensil          0.000031
preservation products    0.000031
Name: Product, Length: 137, dtype: float64

In [15]:
top_5_products = support.sort_values(ascending = False).head(5)
top_5_products

whole milk          0.072241
other vegetables    0.055854
rolls/buns          0.050321
soda                0.044421
yogurt              0.039285
Name: Product, dtype: float64