In [1]:
import numpy as np
import pandas as pd

In [2]:
dframe=pd.read_csv("supermarket.csv")
dframe.head()

    Customer Id        Date           Product
0  JKML5ZWXP0XQ  2020-07-20    tropical fruit
1  YOGWQIUPDAJ7  2020-04-30        whole milk
2  Q3NL22281AF6  2020-09-18         pip fruit
3  C59GRTLMZQAU  2020-12-11  other vegetables
4  WUSF8LTEQZ5L  2020-01-02        whole milk

In [3]:
#q1
dframe.Product.nunique()

137

In [4]:
#q2
round(dframe.groupby(["Date"])['Product'].count().mean(),2)

44.93

In [5]:
#q3
dframe.groupby(['Product'])['Customer Id'].count().sort_values(ascending = True).head(4)

Product
kitchen utensil          1
preservation products    1
baby cosmetics           3
bags                     4
Name: Customer Id, dtype: int64

In [6]:
#q4
dframe.groupby(['Customer Id','Date'])['Product'].count().sort_values(ascending = False).head(5)

Customer Id   Date
ED8WY0DE27XG  2020-05-28    9
H9BRJQMWGT5B  2020-06-17    9
DD3KOEOVDVIM  2020-04-16    9
MC1BX6TSP1OP  2020-12-06    9
BO9GBPVW5VYI  2020-08-07    8
Name: Product, dtype: int64

In [15]:
#q5
dframe['Day_of_Week'] = pd.to_datetime(dframe['Date']).dt.day_name()
dframe['Day_of_Week'].max()

'Wednesday'

In [16]:
#q6
dframe.groupby(['Product'])['Customer Id'].count().sort_values(ascending = False).head(5)

Product
whole milk          2363
other vegetables    1827
rolls/buns          1646
soda                1453
yogurt              1285
Name: Customer Id, dtype: int64

In [ ]:
#q8