In [2]:
import pandas as pd

In [3]:
super_market = pd.read_csv('supermarket.csv')
super_market

        Customer Id        Date                Product
0      JKML5ZWXP0XQ  2020-07-20         tropical fruit
1      YOGWQIUPDAJ7  2020-04-30             whole milk
2      Q3NL22281AF6  2020-09-18              pip fruit
3      C59GRTLMZQAU  2020-12-11       other vegetables
4      WUSF8LTEQZ5L  2020-01-02             whole milk
...             ...         ...                    ...
32705  PM1BQU9H9S2Q  2019-06-05                    oil
32706  6AWIAP3ZV551  2019-08-10          sliced cheese
32707  LRWVFLSC8X5B  2019-02-23                  candy
32708  8KYRMELYKNIH  2019-04-16               cake bar
32709  41NGW85T47Q1  2019-03-12  fruit/vegetable juice

[32710 rows x 3 columns]

In [4]:
### soal1 =  tedad mahsoolat yekta
unique_numbers= super_market['Product'].nunique()
unique_numbers

137

In [5]:
### soal 2 = mizan forosh be eza har rooz  be sorat miangin
mizan_dar_yek_rooz= super_market.groupby('Product')['Date'].agg('size').sort_values(ascending=False)
kol_mahsoolat= super_market['Date'].count()
result = mizan_dar_yek_rooz/kol_mahsoolat
(result.round(3)*100).sort_values(ascending=False)

Product
whole milk                7.2
other vegetables          5.6
rolls/buns                5.0
soda                      4.4
yogurt                    3.9
                         ...
honey                     0.0
ready soups               0.0
cooking chocolate         0.0
flower soil/fertilizer    0.0
kitchen utensil           0.0
Name: Date, Length: 137, dtype: float64

In [6]:
# soal 3 = mahsool ke kamtar dar sabad moshtarian boodan
super_market['tedad'] = super_market['Product'].value_counts()
majmoe = (super_market.groupby('Product')['tedad'].agg('size')).sort_values()
majmoe[0:4]
### ==> utensil , preservation , baby cosmetcs , bags

Product
kitchen utensil          1
preservation products    1
baby cosmetics           3
bags                     4
Name: tedad, dtype: int64

In [7]:
### soal4 = 5 moshtary bartar dar 2020
import datetime
f = lambda x : x.split('-')[0]
super_market['year'] = super_market['Date'].apply(f)
x = super_market.groupby('Customer Id')['year'].agg('count').sort_values(ascending=False)
x[0:4]

Customer Id
0P1TPIH74E79    32
0ZRF32AJ06BC    30
L1V5UZI2G191    28
JKC89PT6OZ01    26
Name: year, dtype: int64

In [8]:
# soal5 = roozie ke bishtarin mahsool forosh rafte
from datetime import *
def f(date):
        dt = datetime.strptime(date, '%Y-%m-%d')
        weekday = dt.strftime('%A')
        return weekday
super_market['day'] = super_market['Date'].apply(f)
result= (super_market.groupby('Date')['day'].agg('size')).sort_values(ascending=False)
result

Date
2020-01-21    80
2019-08-28    76
2020-03-25    74
2019-03-04    74
2020-07-20    73
              ..
2019-07-12    21
2019-04-07    20
2020-03-16    18
2020-01-09    18
2020-03-15    17
Name: day, Length: 728, dtype: int64

In [9]:
f('2020-01-21')

'Tuesday'

In [10]:
#soal6 = 5 mahsooli ke bishtarin support ra darand

In [35]:
kol_sabad_ha= super_market['Product'].size
har_mahsool_che_ghadr = super_market.groupby('Product').agg('size')
result = har_mahsool_che_ghadr/kol_sabad_ha
(result*100).sort_values(ascending=False).head()

Product
whole milk          7.224090
other vegetables    5.585448
rolls/buns          5.032100
soda                4.442067
yogurt              3.928462
dtype: float64

In [46]:
#soal7 = bishtarin confidence dar do
-1

-1