In [1]:
import numpy as np
import pandas as pd

In [3]:
dframe=pd.read_csv("train.csv")
dframe.head()

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No

In [6]:
#q1
num_row=dframe.shape[0]
num_col=dframe.shape[1]
print(f"{num_row}  {num_col}")

1590  10

In [7]:
#q2
int(dframe.AnnualIncome.mean())

928553

In [8]:
#q3
dframe.EverTravelledAbroad.value_counts()["Yes"]

302

In [14]:
#q4
part=dframe.groupby(["Employment Type"]).size()
max_part=part.idxmax()
percentage=round(part[max_part]/len(dframe)*10000/100,2)
print(f"{max_part}\n{percentage}")

Private Sector/Self Employed
72.64

In [16]:
#q5
cd_persons = dframe[dframe['ChronicDiseases'] == 1]
int(cd_persons[cd_persons['TravelInsurance'] == 'Yes'].size / cd_persons.size * 10000) / 100

37.52

In [ ]:
#q6