<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6 color=#F32500>
        <div  align=center>
            تمرین هفته دوم بوت کمپ یادگیری ماشین-
            مپصا
        </div>
        <br/>
    </font>
</div>

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<div align=center>
			<font face="IranNastaliq" size=5>    
                  چون عهده نمی‌شود کسی فردا را
                <br><br>
                 حالی خوش دار این دل پر سودا را
                <br><br>
                می نوش به ماهتاب ای ماه که ماه
                <br><br>
                بسیار بتابد و نیابد ما را        			   	
                <p></p>
			</font>
        </div>
    </font>
</div>

In [1]:
import numpy as np
import pandas as pd

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال اول:‌
        </font>
در این تمرین قصد داریم به تحلیل داده های فیلم های برتر سینمای جهان به معیار imdb بپردازیم. ابتدا دادههای مربوط به فیلم را از فایل csv فراخوانی میکنیم
        <br/>
    </font>
</div>

In [2]:
movies = pd.read_csv("../Data/imdb_movie_rank.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [3]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        در این دیتاست اگر داده ای وجود دارد که مقدار nullدارد سطرش را حذف کنید. 
        <br/>
    </font>
</div>

In [4]:
movies.dropna(axis=0, inplace=True)

In [5]:
movies

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        فیلم ها را براساس مدت زمان فیلم به صورت نزولی مرتب کنید و پنجاه تای اول را در فایل csv با نام long_time ذخیره کنید 
        <br/>
    </font>
</div>

In [6]:
movies.sort_values("duration", ascending=False, ignore_index=True).iloc[:50, 1].to_csv("long_time.csv", index=False)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         تابعی بنویسید که نام بازیگر را به عنوان آرگومان بگیرد و تعداد فیلم های برتر از این لیست را که بازی کرده محاسبه کند.
        <br/>
    </font>
</div>

In [7]:
def number_of_top_movies(actor_name: str) -> int:
    return movies.actors_list.map(lambda actors_list: True if actor_name in actors_list else False).value_counts()[True]

In [8]:
number_of_top_movies("Aamir Khan")

5

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         میانگین امتیاز فیلم ها را براساس ژانر نمایش به دست آورید.
        <br/>
    </font>
</div>

In [9]:
movies.groupby("genre").star_rating.mean()

genre
Action       7.885926
Adventure    7.940541
Animation    7.914516
Biography    7.857895
Comedy       7.822436
Crime        7.916935
Drama        7.902518
Family       7.850000
Fantasy      7.700000
Film-Noir    8.033333
History      8.000000
Horror       7.806897
Mystery      7.975000
Sci-Fi       7.920000
Thriller     7.680000
Western      8.255556
Name: star_rating, dtype: float64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
       ستونی به این داده ها اضافه کنید که در صورت اینکه یک فیلم مدت نمایش آن 150 دقیقه و یا بیشتر بود مقدار صفر و در غیر اینصورت 1 در هر سطر این ستون قرار گیرد. دیتافریم حاصل را در یک فایل csv ذخیره کنید.
        <br/>
    </font>
</div>

In [10]:
def row_mapping_function(row):
    row["less than 150 minutes"] = 1  if row.duration < 150 else 0
    return row
    
movies.apply(row_mapping_function, axis="columns").to_csv("is_less_than_150_minutes.csv", index=False)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        عنوان ستونها را به نحوی تغییر دهید که در ستون های دارای _(آندرلاین) فاصله قرار گیرد. به عنوان مثال star_rating به star rating تبدیل می شود.
        <br/>
    </font>
</div>

In [11]:
movies.columns = [column.replace("_", " ") for column in movies.columns]

In [12]:
movies

,star rating,title,content rating,genre,duration,actors list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        داده ها را براساس ژانر گروه بندی و مرتب کنید و از هر ژانر صرفا سه تای برتر را نمایش دهید
        <br/>
    </font>
</div>

In [13]:
movies.groupby("genre").apply(lambda x: x.sort_values("star rating", ascending=False).head(3))

               star rating                                              title  \
genre
Action    3            9.0                                    The Dark Knight
          12           8.8     Star Wars: Episode V - The Empire Strikes Back
          11           8.8                                          Inception
Adventure 7            8.9      The Lord of the Rings: The Return of the King
          14           8.8              The Lord of the Rings: The Two Towers
          10           8.8  The Lord of the Rings: The Fellowship of the Ring
Animation 30           8.6                                      Spirited Away
          61           8.5                             Grave of the Fireflies
          55           8.5                                      The Lion King
Biography 8            8.9                                   Schindler's List
          18           8.7                                         Goodfellas
          31           8.6                                   The Intouchables
Comedy    25           8.6                                  Life Is Beautiful
          35           8.6                                       Modern Times
          29           8.6                                        City Lights
Crime     0            9.3                           The Shawshank Redemption
          1            9.2                                      The Godfather
          2            9.1                             The Godfather: Part II
Drama     5            8.9                                       12 Angry Men
          9            8.9                                         Fight Club
          13           8.8                                       Forrest Gump
Family    468          7.9                         E.T. the Extra-Terrestrial
          497          7.8                Willy Wonka & the Chocolate Factory
Fantasy   638          7.7                          The City of Lost Children
Film-Noir 105          8.3                                      The Third Man
          210          8.1                                              Laura
          687          7.7                                         Spellbound
History   338          8.0                                Battleship Potemkin
Horror    39           8.6                                             Psycho
          57           8.5                                              Alien
          62           8.5                                        The Shining
Mystery   38           8.6                                        Rear Window
          46           8.5                                            Memento
          76           8.4                                            Vertigo
Sci-Fi    145          8.2                                       Blade Runner
          321          8.0                                             Brazil
          408          7.9                                            Gravity
Thriller  350          8.0                                  Shadow of a Doubt
          496          7.8                                             Misery
          728          7.6                                 La piel que habito
Western   6            8.9                     The Good, the Bad and the Ugly
          26           8.6                       Once Upon a Time in the West
          59           8.5                                   Django Unchained

              content rating      genre  duration  \
genre
Action    3            PG-13     Action       152
          12              PG     Action       124
          11           PG-13     Action       148
Adventure 7            PG-13  Adventure       201
          14           PG-13  Adventure       179
          10           PG-13  Adventure       178
Animation 30              PG  Animation       125
          61         UNRATED  Animation        89
          55               G  Animation        89
Biography 8                R  Biography       195
          18               R  Biography       146
          31               R  Biography       112
Comedy    25           PG-13     Comedy       116
          35               G     Comedy        87
          29          PASSED     Comedy        87
Crime     0                R      Crime       142
          1                R      Crime       175
          2                R      Crime       200
Drama     5        NOT RATED      Drama        96
          9                R      Drama       139
          13           PG-13      Drama       142
Family    468             PG     Family       115
          497              G     Family       100
Fantasy   638              R    Fantasy       112
Film-Noir 105      NOT RATED  Film-Noir        93
          210       APPROVED  Film-Noir        88
          687        UNRATED  Film-Noir       111
History   338        UNRATED    History        66
Horror    39               R     Horror       109
          57               R     Horror       117
          62               R     Horror       146
Mystery   38        APPROVED    Mystery       112
          46               R    Mystery       113
          76        APPROVED    Mystery       128
Sci-Fi    145              R     Sci-Fi       117
          321              R     Sci-Fi       132
          408          PG-13     Sci-Fi        91
Thriller  350       APPROVED   Thriller       108
          496              R   Thriller       107
          728              R   Thriller       120
Western   6        NOT RATED    Western       161
          26           PG-13    Western       175
          59               R    Western       165

                                                     actors list
genre
Action    3    [u'Christian Bale', u'Heath Ledger', u'Aaron E...
          12   [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...
          11   [u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...
Adventure 7    [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
          14   [u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...
          10   [u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...
Animation 30   [u'Daveigh Chase', u'Suzanne Pleshette', u'Miy...
          61   [u'Tsutomu Tatsumi', u'Ayano Shiraishi', u'Ake...
          55   [u'Matthew Broderick', u'Jeremy Irons', u'Jame...
Biography 8    [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...
          18    [u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']
          31   [u'Fran\xe7ois Cluzet', u'Omar Sy', u'Anne Le ...
Comedy    25   [u'Roberto Benigni', u'Nicoletta Braschi', u'G...
          35   [u'Charles Chaplin', u'Paulette Goddard', u'He...
          29   [u'Charles Chaplin', u'Virginia Cherrill', u'F...
Crime     0    [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
          1      [u'Marlon Brando', u'Al Pacino', u'James Caan']
          2    [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
Drama     5    [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
          9    [u'Brad Pitt', u'Edward Norton', u'Helena Bonh...
          13     [u'Tom Hanks', u'Robin Wright', u'Gary Sinise']
Family    468  [u'Henry Thomas', u'Drew Barrymore', u'Peter C...
          497  [u'Gene Wilder', u'Jack Albertson', u'Peter Os...
Fantasy   638  [u'Ron Perlman', u'Daniel Emilfork', u'Judith ...
Film-Noir 105  [u'Orson Welles', u'Joseph Cotten', u'Alida Va...
          210  [u'Gene Tierney', u'Dana Andrews', u'Clifton W...
          687  [u'Ingrid Bergman', u'Gregory Peck', u'Michael...
History   338  [u'Aleksandr Antonov', u'Vladimir Barsky', u'G...
Horror    39   [u'Anthony Perkins', u'Janet Leigh', u'Vera Mi...
          57   [u'Sigourney Weaver', u'Tom Skerritt', u'John ...
          62   [u'Jack Nicholson', u'Shelley Duvall', u'Danny...
Mystery   38   [u'James Stewart', u'Grace Kelly', u'Wendell C...
          46   [u'Guy Pearce', u'Carrie-Anne Moss', u'Joe Pan...
          76   [u'James Stewart', u'Kim Novak', u'Barbara Bel...
Sci-Fi    145  [u'Harrison Ford', u'Rutger Hauer', u'Sean You...
          321  [u'Jonathan Pryce', u'Kim Greist', u'Robert De...
          408  [u'Sandra Bullock', u'George Clooney', u'Ed Ha...
Thriller  350  [u'Teresa Wright', u'Joseph Cotten', u'Macdona...
          496  [u'James Caan', u'Kathy Bates', u'Richard Farn...
          728  [u'Antonio Banderas', u'Elena Anaya', u'Jan Co...
Western   6    [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...
          26   [u'Henry Fonda', u'Charles Bronson', u'Claudia...
          59   [u'Jamie Foxx', u'Christoph Waltz', u'Leonardo...

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال دوم:‌
        </font>
        تفاوت بین متد read_table و read_csv در ماژول pandas چیست؟
        <br/>
    </font>
</div>

The difference between read_csv() and read_table() is almost nothing. In fact, the same function is called by the source. 
read_table is read_csv with sep=',' replaced by sep='\t'

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        با استفاده از متد value_counts تعداد فیلمها در هر ریت محتوا را به دست آورید.
        <br/>
    </font>
</div>

In [14]:
movies.value_counts("content rating")

content rating
R            460
PG-13        189
PG           123
NOT RATED     65
APPROVED      47
UNRATED       38
G             32
NC-17          7
PASSED         7
X              4
GP             3
TV-MA          1
Name: count, dtype: int64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال چهارم:‌
        </font>
       توضیح دهید crosstab در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟
        <br/>
    </font>
</div>

The crosstab function in the pandas Python library is used to compute a cross-tabulation table. It takes two or more arrays or Series as input and returns a DataFrame that shows the frequency distribution of the variables. The resulting table displays the count of occurrences of each combination of values from the input arrays. It is a useful tool for analyzing categorical data and identifying relationships between variables.

Pandas crosstab function takes two positional arguments. The first one is index which is values to group by in the rows and the second one is columns which is values to group by in the columns. We pass our genre column of movies data frame as index and content rating as columns to this function. We have a frequency table of these factors in the result.

In [15]:
pd.crosstab(movies.genre, movies["content rating"])

content rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,3,1,1,0,4,1,11,44,67,0,3,0
Adventure,3,2,0,0,5,1,21,23,17,0,2,0
Animation,3,20,0,0,3,0,25,5,5,0,1,0
Biography,1,2,1,0,1,0,6,29,36,0,0,0
Comedy,9,2,1,1,16,3,23,23,73,0,4,1
Crime,6,0,0,1,7,1,6,4,87,0,11,1
Drama,12,3,0,4,24,1,25,55,143,1,9,1
Family,0,1,0,0,0,0,1,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,1,0,0,0
Film-Noir,1,0,0,0,1,0,0,0,0,0,1,0
History,0,0,0,0,0,0,0,0,0,0,1,0
Horror,2,0,0,1,1,0,1,2,16,0,5,1
Mystery,4,1,0,0,1,0,1,2,6,0,1,0
Sci-Fi,1,0,0,0,0,0,0,1,3,0,0,0
Thriller,1,0,0,0,0,0,1,0,3,0,0,0
Western,1,0,0,0,2,0,2,1,3,0,0,0

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال پنچم:‌
        </font>
         توضیح دهید متد corr در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟ 
        <br/>
    </font>
</div>

The corr method in the pandas Python library is used to compute the correlation between columns in a DataFrame. It calculates the pairwise correlation between columns excluding NA/null values. The resulting correlation matrix is a square DataFrame where each cell represents the correlation coefficient between two columns.

In [16]:
movies.corr(numeric_only=True)

             star rating  duration
star rating      1.00000   0.22941
duration         0.22941   1.00000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال ششم:‌
        </font>
        با استفاده از متد sample هفتاد و پنج درصد سطرها را در یک متغیر به نام sample_1 بریزید. درنهایت با استفاده از متد drop از دیتافریم اصلی این سطرها را حذف و دیتافریم جدید را در sample_2 بریزید
        <br/>
    </font>
</div>

In [17]:
sample_1 = movies.sample(n=int(movies.shape[0]*0.75))
sample_1

,star rating,title,content rating,genre,duration,actors list
380,8.0,Casino Royale,PG-13,Action,144,"[u'Daniel Craig', u'Eva Green', u'Judi Dench']"
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G..."
95,8.4,All About Eve,APPROVED,Drama,138,"[u'Bette Davis', u'Anne Baxter', u'George Sand..."
368,8.0,Planet of the Apes,G,Adventure,112,"[u'Charlton Heston', u'Roddy McDowall', u'Kim ..."
252,8.1,Arsenic and Old Lace,NOT RATED,Comedy,118,"[u'Cary Grant', u'Priscilla Lane', u'Raymond M..."
...,...,...,...,...,...,...
907,7.5,The Proposition,R,Crime,104,"[u'Ray Winstone', u'Guy Pearce', u'Emily Watson']"
354,8.0,Kill Bill: Vol. 2,R,Action,137,"[u'Uma Thurman', u'David Carradine', u'Michael..."
527,7.8,Night on Earth,R,Comedy,129,"[u'Winona Ryder', u'Gena Rowlands', u'Lisanne ..."
248,8.1,X-Men: Days of Future Past,PG-13,Action,131,"[u'Patrick Stewart', u'Ian McKellen', u'Hugh J..."
792,7.6,High Fidelity,R,Comedy,113,"[u'John Cusack', u'Iben Hjejle', u'Todd Louiso']"

In [18]:
sample_2 = movies.drop(sample_1.index)
sample_2

,star rating,title,content rating,genre,duration,actors list
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
...,...,...,...,...,...,...
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال هفتم:‌
        </font>
         متد pivot_table چه عملکردی دارد؟
        <br/>
    </font>
</div>

The pivot_table method allows users to create a spreadsheet-style pivot table as a DataFrame. It takes a DataFrame as input and provides a way to summarize and analyze data by grouping and aggregating values based on one or more columns. The pivot_table method allows users to specify the index, columns, and values to be used in the resulting pivot table, as well as the aggregation function to be applied.

In [19]:
pd.pivot_table(movies, values="star rating", index="genre", columns="content rating")

content rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,7.633333,7.800000,7.7,NaN,7.925000,7.700000,8.036364,7.879545,7.864179,NaN,8.266667,NaN
Adventure,8.100000,8.050000,NaN,NaN,8.160000,8.100000,7.852381,7.960870,7.882353,NaN,8.150000,NaN
Animation,7.600000,7.950000,NaN,NaN,8.033333,NaN,7.896000,7.880000,7.900000,NaN,8.500000,NaN
Biography,7.900000,8.000000,8.0,NaN,7.600000,NaN,7.850000,7.775862,7.919444,NaN,NaN,NaN
Comedy,8.088889,8.150000,8.1,7.60,8.131250,8.233333,7.786957,7.730435,7.732877,NaN,7.875000,7.8
Crime,8.133333,NaN,NaN,7.50,8.171429,8.400000,8.033333,7.750000,7.880460,NaN,7.872727,8.4
Drama,8.133333,8.133333,NaN,7.65,8.129167,8.200000,7.888000,7.805455,7.874825,8.1,8.033333,8.0
Family,NaN,7.800000,NaN,NaN,NaN,NaN,7.900000,NaN,NaN,NaN,NaN,NaN
Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.700000,NaN,NaN,NaN
Film-Noir,8.100000,NaN,NaN,NaN,8.300000,NaN,NaN,NaN,NaN,NaN,7.700000,NaN
History,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,NaN
Horror,7.700000,NaN,NaN,7.60,7.900000,NaN,7.400000,7.700000,7.812500,NaN,8.040000,7.5
Mystery,8.150000,8.300000,NaN,NaN,8.200000,NaN,8.100000,7.450000,7.933333,NaN,7.900000,NaN
Sci-Fi,7.800000,NaN,NaN,NaN,NaN,NaN,NaN,7.900000,7.966667,NaN,NaN,NaN
Thriller,8.000000,NaN,NaN,NaN,NaN,NaN,7.500000,NaN,7.633333,NaN,NaN,NaN
Western,8.300000,NaN,NaN,NaN,8.500000,NaN,8.000000,8.600000,8.133333,NaN,NaN,NaN