<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6 color=#F32500>
        <div  align=center>
            تمرین هفته دوم بوت کمپ یادگیری ماشین-
            مپصا
        </div>
        <br/>
    </font>
</div>

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<div align=center>
			<font face="IranNastaliq" size=5>    
                  چون عهده نمی‌شود کسی فردا را
                <br><br>
                 حالی خوش دار این دل پر سودا را
                <br><br>
                می نوش به ماهتاب ای ماه که ماه
                <br><br>
                بسیار بتابد و نیابد ما را        			   	
                <p></p>
			</font>
        </div>
    </font>
</div>

In [2]:
import numpy as np
import pandas as pd

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال اول:‌
        </font>
در این تمرین قصد داریم به تحلیل داده های فیلم های برتر سینمای جهان به معیار imdb بپردازیم. ابتدا دادههای مربوط به فیلم را از فایل csv فراخوانی میکنیم
        <br/>
    </font>
</div>

In [3]:
movies = pd.read_csv("imdb_movie_rank.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [4]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        در این دیتاست اگر داده ای وجود دارد که مقدار nullدارد سطرش را حذف کنید. 
        <br/>
    </font>
</div>

In [5]:
movies = movies.dropna()
movies

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        فیلم ها را براساس مدت زمان فیلم به صورت نزولی مرتب کنید و پنجاه تای اول را در فایل csv با نام long_time ذخیره کنید 
        <br/>
    </font>
</div>

In [6]:
movies = movies.sort_values(by='duration', ascending=False)
top_long_time = movies.head(50)
top_long_time.to_csv('long_time.csv', index=False)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         تابعی بنویسید که نام بازیگر را به عنوان آرگومان بگیرد و تعداد فیلم های برتر از این لیست را که بازی کرده محاسبه کند.
        <br/>
    </font>
</div>

In [7]:
def count_movies_by_actor(actor_name):
    return len(movies[movies['actors_list'].str.contains(actor_name, case=False)])
count_movies_by_actor("Tom Hanks")

14

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         میانگین امتیاز فیلم ها را براساس ژانر نمایش به دست آورید.
        <br/>
    </font>
</div>

In [14]:
movies.star_rating.sum()/movies.genre.count()

movies.groupby("genre").agg(rating=("star_rating", "mean")).sort_values('rating',ascending=False)

             rating
genre
Western    8.255556
Film-Noir  8.033333
History    8.000000
Mystery    7.975000
Adventure  7.940541
Sci-Fi     7.920000
Crime      7.916935
Animation  7.914516
Drama      7.902518
Action     7.885926
Biography  7.857895
Family     7.850000
Comedy     7.822436
Horror     7.806897
Fantasy    7.700000
Thriller   7.680000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
       ستونی به این داده ها اضافه کنید که در صورت اینکه یک فیلم مدت نمایش آن 150 دقیقه و یا بیشتر بود مقدار صفر و در غیر اینصورت 1 در هر سطر این ستون قرار گیرد. دیتافریم حاصل را در یک فایل csv ذخیره کنید.
        <br/>
    </font>
</div>

In [18]:
movies['more_150_min'] = movies['duration'].apply(lambda x: x>=150)
movies.to_csv('movie_data_final.csv', index=False)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        عنوان ستونها را به نحوی تغییر دهید که در ستون های دارای _(آندرلاین) فاصله قرار گیرد. به عنوان مثال star_rating به star rating تبدیل می شود.
        <br/>
    </font>
</div>

In [21]:
movies.columns = movies.columns.str.replace('_', ' ')
movies

,star rating,title,content rating,genre,duration,actors list,long duration,more 150 min
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere...",0,True
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...",0,True
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet...",0,True
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...",0,True
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba...",0,True
...,...,...,...,...,...,...,...,...
293,8.1,Duck Soup,PASSED,Comedy,68,"[u'Groucho Marx', u'Harpo Marx', u'Chico Marx']",1,False
88,8.4,The Kid,NOT RATED,Comedy,68,"[u'Charles Chaplin', u'Edna Purviance', u'Jack...",1,False
258,8.1,The Cabinet of Dr. Caligari,UNRATED,Crime,67,"[u'Werner Krauss', u'Conrad Veidt', u'Friedric...",1,False
338,8.0,Battleship Potemkin,UNRATED,History,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G...",1,False
389,8.0,Freaks,UNRATED,Drama,64,"[u'Wallace Ford', u'Leila Hyams', u'Olga Bacla...",1,False

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        داده ها را براساس ژانر گروه بندی و مرتب کنید و از هر ژانر صرفا سه تای برتر را نمایش دهید
        <br/>
    </font>
</div>

In [30]:
movies.sort_values(['genre','star rating'],ascending=[1,0]).groupby('genre').apply(lambda x: x.nlargest(3, 'star rating'))

               star rating                                              title  \
genre
Action    3            9.0                                    The Dark Knight
          11           8.8                                          Inception
          12           8.8     Star Wars: Episode V - The Empire Strikes Back
Adventure 7            8.9      The Lord of the Rings: The Return of the King
          14           8.8              The Lord of the Rings: The Two Towers
          10           8.8  The Lord of the Rings: The Fellowship of the Ring
Animation 30           8.6                                      Spirited Away
          55           8.5                                      The Lion King
          61           8.5                             Grave of the Fireflies
Biography 8            8.9                                   Schindler's List
          18           8.7                                         Goodfellas
          31           8.6                                   The Intouchables
Comedy    25           8.6                                  Life Is Beautiful
          35           8.6                                       Modern Times
          29           8.6                                        City Lights
Crime     0            9.3                           The Shawshank Redemption
          1            9.2                                      The Godfather
          2            9.1                             The Godfather: Part II
Drama     9            8.9                                         Fight Club
          5            8.9                                       12 Angry Men
          13           8.8                                       Forrest Gump
Family    468          7.9                         E.T. the Extra-Terrestrial
          497          7.8                Willy Wonka & the Chocolate Factory
Fantasy   638          7.7                          The City of Lost Children
Film-Noir 105          8.3                                      The Third Man
          210          8.1                                              Laura
          687          7.7                                         Spellbound
History   338          8.0                                Battleship Potemkin
Horror    39           8.6                                             Psycho
          62           8.5                                        The Shining
          57           8.5                                              Alien
Mystery   38           8.6                                        Rear Window
          46           8.5                                            Memento
          76           8.4                                            Vertigo
Sci-Fi    145          8.2                                       Blade Runner
          321          8.0                                             Brazil
          408          7.9                                            Gravity
Thriller  350          8.0                                  Shadow of a Doubt
          496          7.8                                             Misery
          728          7.6                                 La piel que habito
Western   6            8.9                     The Good, the Bad and the Ugly
          26           8.6                       Once Upon a Time in the West
          59           8.5                                   Django Unchained

              content rating      genre  duration  \
genre
Action    3            PG-13     Action       152
          11           PG-13     Action       148
          12              PG     Action       124
Adventure 7            PG-13  Adventure       201
          14           PG-13  Adventure       179
          10           PG-13  Adventure       178
Animation 30              PG  Animation       125
          55               G  Animation        89
          61         UNRATED  Animation        89
Biography 8                R  Biography       195
          18               R  Biography       146
          31               R  Biography       112
Comedy    25           PG-13     Comedy       116
          35               G     Comedy        87
          29          PASSED     Comedy        87
Crime     0                R      Crime       142
          1                R      Crime       175
          2                R      Crime       200
Drama     9                R      Drama       139
          5        NOT RATED      Drama        96
          13           PG-13      Drama       142
Family    468             PG     Family       115
          497              G     Family       100
Fantasy   638              R    Fantasy       112
Film-Noir 105      NOT RATED  Film-Noir        93
          210       APPROVED  Film-Noir        88
          687        UNRATED  Film-Noir       111
History   338        UNRATED    History        66
Horror    39               R     Horror       109
          62               R     Horror       146
          57               R     Horror       117
Mystery   38        APPROVED    Mystery       112
          46               R    Mystery       113
          76        APPROVED    Mystery       128
Sci-Fi    145              R     Sci-Fi       117
          321              R     Sci-Fi       132
          408          PG-13     Sci-Fi        91
Thriller  350       APPROVED   Thriller       108
          496              R   Thriller       107
          728              R   Thriller       120
Western   6        NOT RATED    Western       161
          26           PG-13    Western       175
          59               R    Western       165

                                                     actors list  \
genre
Action    3    [u'Christian Bale', u'Heath Ledger', u'Aaron E...
          11   [u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...
          12   [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...
Adventure 7    [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
          14   [u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...
          10   [u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...
Animation 30   [u'Daveigh Chase', u'Suzanne Pleshette', u'Miy...
          55   [u'Matthew Broderick', u'Jeremy Irons', u'Jame...
          61   [u'Tsutomu Tatsumi', u'Ayano Shiraishi', u'Ake...
Biography 8    [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...
          18    [u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']
          31   [u'Fran\xe7ois Cluzet', u'Omar Sy', u'Anne Le ...
Comedy    25   [u'Roberto Benigni', u'Nicoletta Braschi', u'G...
          35   [u'Charles Chaplin', u'Paulette Goddard', u'He...
          29   [u'Charles Chaplin', u'Virginia Cherrill', u'F...
Crime     0    [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
          1      [u'Marlon Brando', u'Al Pacino', u'James Caan']
          2    [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
Drama     9    [u'Brad Pitt', u'Edward Norton', u'Helena Bonh...
          5    [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
          13     [u'Tom Hanks', u'Robin Wright', u'Gary Sinise']
Family    468  [u'Henry Thomas', u'Drew Barrymore', u'Peter C...
          497  [u'Gene Wilder', u'Jack Albertson', u'Peter Os...
Fantasy   638  [u'Ron Perlman', u'Daniel Emilfork', u'Judith ...
Film-Noir 105  [u'Orson Welles', u'Joseph Cotten', u'Alida Va...
          210  [u'Gene Tierney', u'Dana Andrews', u'Clifton W...
          687  [u'Ingrid Bergman', u'Gregory Peck', u'Michael...
History   338  [u'Aleksandr Antonov', u'Vladimir Barsky', u'G...
Horror    39   [u'Anthony Perkins', u'Janet Leigh', u'Vera Mi...
          62   [u'Jack Nicholson', u'Shelley Duvall', u'Danny...
          57   [u'Sigourney Weaver', u'Tom Skerritt', u'John ...
Mystery   38   [u'James Stewart', u'Grace Kelly', u'Wendell C...
          46   [u'Guy Pearce', u'Carrie-Anne Moss', u'Joe Pan...
          76   [u'James Stewart', u'Kim Novak', u'Barbara Bel...
Sci-Fi    145  [u'Harrison Ford', u'Rutger Hauer', u'Sean You...
          321  [u'Jonathan Pryce', u'Kim Greist', u'Robert De...
          408  [u'Sandra Bullock', u'George Clooney', u'Ed Ha...
Thriller  350  [u'Teresa Wright', u'Joseph Cotten', u'Macdona...
          496  [u'James Caan', u'Kathy Bates', u'Richard Farn...
          728  [u'Antonio Banderas', u'Elena Anaya', u'Jan Co...
Western   6    [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...
          26   [u'Henry Fonda', u'Charles Bronson', u'Claudia...
          59   [u'Jamie Foxx', u'Christoph Waltz', u'Leonardo...

               long duration  more 150 min
genre
Action    3                0          True
          11               1         False
          12               1         False
Adventure 7                0          True
          14               0          True
          10               0          True
Animation 30               1         False
          55               1         False
          61               1         False
Biography 8                0          True
          18               1         False
          31               1         False
Comedy    25               1         False
          35               1         False
          29               1         False
Crime     0                1         False
          1                0          True
          2                0          True
Drama     9                1         False
          5                1         False
          13               1         False
Family    468              1         False
          497              1         False
Fantasy   638              1         False
Film-Noir 105              1         False
          210              1         False
          687              1         False
History   338              1         False
Horror    39               1         False
          62               1         False
          57               1         False
Mystery   38               1         False
          46               1         False
          76               1         False
Sci-Fi    145              1         False
          321              1         False
          408              1         False
Thriller  350              1         False
          496              1         False
          728              1         False
Western   6                0          True
          26               0          True
          59               0          True

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال دوم:‌
        </font>
        تفاوت بین متد read_table و read_csv در ماژول pandas چیست؟
        <br/>
    </font>
</div>

read_table:
به عنوان جداساز از ستون ها از تب  استفاده می کند
read_csv:
به عنوان جداساز از ستون ها از کاما (,) استفاده می کند.

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        با استفاده از متد value_counts تعداد فیلمها در هر ریت محتوا را به دست آورید.
        <br/>
    </font>
</div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال چهارم:‌
        </font>
       توضیح دهید crosstab در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟
        <br/>
    </font>
</div>

In [38]:
pd.crosstab(movies.genre, movies.content_rating)

در پانداس برای ساخت جدول متقابل  بین دو متغیر استفاده می شود. این جدول متقابل نشان می دهد که چند بار هر دو متغیر در کنار هم وجود دارند.
در کد بالا، با استفاده از crosstab، جدول متقابلی بین ستون genre و content_rating از داده های فیلم ساخته می شود. در این جدول، هر سطر نشان دهنده یک ژانر فیلم و هر ستون نشان دهنده یک رتبه محتوایی (content rating) است. هر خانه در جدول نشان می دهد که چند فیلم با ژانر و رتبه محتوایی خاص در داده ها وجود دارد.

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال پنچم:‌
        </font>
         توضیح دهید متد corr در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟ 
        <br/>
    </font>
</div>

In [40]:
movies.corr()

               star rating  duration  long duration  more 150 min
star rating       1.000000  0.229410      -0.223764      0.223764
duration          0.229410  1.000000      -0.744606      0.744606
long duration    -0.223764 -0.744606       1.000000     -1.000000
more 150 min      0.223764  0.744606      -1.000000      1.000000

corr: در جدول ها میزان همبستگی دو پارامتر عددی را نسب به یکدیگر می سنجد که بازه ای بین منفی یک و یک است. میزان همستگی دو پارامتر یک باشد یعنی عملکرد مثبت مستقیم بریکدیگر دارند یعنی اگر یکی از آن ها کاهش یابد پارامتر به همان میزان کاهش میابد و بلعکس. و طبیعتا همبستگی یک پارامتر نسبت به خودش یک میباشد.و اگر میزان همبستگی برابر صفر باشد یعنی با کاهش یا افزایش یکی از طرفین در طرف دیگر هیچ تغییری ایجاد نخواهدا شد.و اگر منفی یک باشد رابطه طرفین به صورت معکوس یا الاکلنگی است یعنی با افزایش یکی از طرفین طرف دیگر کاهش پیدا خواهد کرد.

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال ششم:‌
        </font>
        با استفاده از متد sample هفتاد و پنج درصد سطرها را در یک متغیر به نام sample_1 بریزید. درنهایت با استفاده از متد drop از دیتافریم اصلی این سطرها را حذف و دیتافریم جدید را در sample_2 بریزید
        <br/>
    </font>
</div>

In [42]:
sample_1 = movies.sample(frac=0.75, random_state=42) 
sample_2 = movies.drop(sample_1.index)
sample_2

,star rating,title,content rating,genre,duration,actors list,long duration,more 150 min
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...",0,True
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba...",0,True
385,8.0,Spartacus,PG-13,Action,197,"[u'Kirk Douglas', u'Laurence Olivier', u'Jean ...",0,True
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...",0,True
89,8.4,Swades,NOT RATED,Drama,189,"[u'Shah Rukh Khan', u'Gayatri Joshi', u'Kishor...",0,True
...,...,...,...,...,...,...,...,...
283,8.1,Before Sunset,R,Drama,80,"[u'Ethan Hawke', u'Julie Delpy', u'Vernon Dobt...",1,False
297,8.0,Rope,PG,Crime,80,"[u'James Stewart', u'John Dall', u'Farley Gran...",1,False
864,7.5,[Rec],R,Horror,78,"[u'Manuela Velasco', u'Ferran Terraza', u'Jorg...",1,False
938,7.4,Alice in Wonderland,G,Animation,75,"[u'Kathryn Beaumont', u'Ed Wynn', u'Richard Ha...",1,False
88,8.4,The Kid,NOT RATED,Comedy,68,"[u'Charles Chaplin', u'Edna Purviance', u'Jack...",1,False

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال هفتم:‌
        </font>
         متد pivot_table چه عملکردی دارد؟
        <br/>
    </font>
</div>

متد pivot_table در پانداس برای ساخت جدول متقابل (cross-tabulation) بین دو یا بیشتر از متغیرهای داده ای استفاده می شود. با استفاده از این متد، می توانیم مقدار های مختلف داده ها را بر اساس یک یا چند متغیر دیگر خلاصه کنیم و به صورت یک جدول خروجی نمایش دهیم. این متد قابلیت استفاده از توابع مختلف برای محاسبه مقادیر خلاصه شده را دارد و همچنین از پارامترهای مختلفی مانند نوع تجمیع، مقدار پیش فرض و ... پشتیبانی می کند.