In [32]:
import pandas as pd
df_insurance = pd.read_csv('/content/train.csv')
df_insurance

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No
...,...,...,...,...,...,...,...,...,...,...
1585,W9JDK752JWHA,29,Private Sector/Self Employed,Yes,600000,3,0,No,No,No
1586,2JEE5P5T9MT0,34,Private Sector/Self Employed,Yes,850000,3,1,No,Yes,No
1587,797K83M5QWO2,34,Private Sector/Self Employed,No,1300000,4,0,No,No,No
1588,8V9QYC8TCCMF,33,Government Sector,Yes,400000,5,0,No,No,No
1589,8VEME4MXPTBC,28,Private Sector/Self Employed,Yes,750000,5,1,Yes,No,No

ابتدا تعداد سطر و سپس تعداد ستون‌های این دادگان را به دست آورید‌ (با space، جدا کنید):

In [23]:
print(df_insurance.shape[0], " ", df_insurance.shape[1])

1590   10

متوسط درآمد سالانه مشتریان چه‌ قدر است (فقط قسمت عدد صحیح)؟

In [5]:
int(df_insurance.AnnualIncome.mean())

928553

### **Counting function definition**

In [34]:
def get_count_filter(df, col, val):
  df1 = df.where(df[str(col)] == val)
  df1 = df1.dropna()
  count = df1.shape[0]
  return count

چند نفر از مشتریان سابقه سفر خارجی داشته‌اند؟

In [36]:
get_count_filter(df_insurance, "EverTravelledAbroad", "Yes")

302

بیشتر افراد، در بخش خصوصی به کار گرفته شده‌اند و یا بخش دولتی؟ چند درصد افراد در آن بخش مشغول هستند (با دقت دو رقم اعشار)؟

In [38]:
pv_worker = get_count_filter(df_insurance, "Employment Type", "Private Sector/Self Employed")
gov_worker = get_count_filter(df_insurance, "Employment Type", "Government Sector")

if gov_worker > pv_worker:
  print("Government Sector is more")
  print(gov_worker * 100/ (gov_worker + pv_worker))

else:
  print("Private Sector/Self Employed is more")
  print(pv_worker * 100/ (gov_worker + pv_worker))

Private Sector/Self Employed is more
72.64150943396227

چند درصد از افرادی که بیماری زمینه‌ای دارند، خودشان را برای سفر بیمه کرده‌اند (دقت تا دو رقم اعشار)؟

In [43]:
df_chronic = df_insurance.where(df_insurance['ChronicDiseases'] == 1)
df_chronic = df_chronic.dropna()

chronic_insuranced_count = get_count_filter(df_chronic, "TravelInsurance", "Yes")
percentage_chronic_insuranced = (chronic_insuranced_count / df_chronic.shape[0]) * 100
print("the percentage of the people who were suffering from a chronic disease and also had Travel insurance : ", percentage_chronic_insuranced)

the percentage of the people who were suffering from a chronic disease and also had Travel insurance :  37.52808988764045