In [14]:
import pandas as pd
import zipfile
import math

In [4]:
zip_path = '/home/gemmara/Downloads/travel_insurance.zip'
csv_file_name = 'travel_insurance/train.csv'

with zipfile.ZipFile(zip_path, 'r') as zipf:
    if csv_file_name in zipf.namelist():
        with zipf.open(csv_file_name) as csv_file:
            df = pd.read_csv(csv_file)

df

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No
...,...,...,...,...,...,...,...,...,...,...
1585,W9JDK752JWHA,29,Private Sector/Self Employed,Yes,600000,3,0,No,No,No
1586,2JEE5P5T9MT0,34,Private Sector/Self Employed,Yes,850000,3,1,No,Yes,No
1587,797K83M5QWO2,34,Private Sector/Self Employed,No,1300000,4,0,No,No,No
1588,8V9QYC8TCCMF,33,Government Sector,Yes,400000,5,0,No,No,No
1589,8VEME4MXPTBC,28,Private Sector/Self Employed,Yes,750000,5,1,Yes,No,No

ابتدا تعداد سطر و سپس تعداد ستون‌های این دادگان را به دست آورید‌ (با space، جدا کنید):

In [5]:
shape = df.shape
print(int(shape[0]), int(shape[1]))

1590 10

متوسط درآمد سالانه مشتریان چه‌ قدر است (فقط قسمت عدد صحیح)؟

In [6]:
int(df.AnnualIncome.mean())

928553

چند نفر از مشتریان سابقه سفر خارجی داشته‌اند؟

In [35]:
df[df['EverTravelledAbroad'] == 'Yes'].shape[0]

302

بیشتر افراد، در بخش خصوصی به کار گرفته شده‌اند و یا بخش دولتی؟ چند درصد افراد در آن بخش مشغول هستند (با دقت دو رقم اعشار)؟
خرپجی به شکل خروجی نمونه نمایش داده شود

In [18]:
grouped_by_sector = df.groupby(['Employment Type']).size()
maximum_sector = grouped_by_sector.idxmax()
percentage = math.floor(grouped_by_sector[maximum_sector] / len(df) * 10000) / 100
print(maximum_sector, percentage)

Private Sector/Self Employed 72.64

چند درصد از افرادی که بیماری زمینه‌ای دارند، خودشان را برای سفر بیمه کرده‌اند (دقت تا دو رقم اعشار)؟

In [31]:
cd_persons = df[df['ChronicDiseases'] == 1]
int(cd_persons[cd_persons['TravelInsurance'] == 'Yes'].size / cd_persons.size * 10000) / 100

37.52