In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('supermarket.csv')

In [3]:
df

        Customer Id        Date                Product
0      JKML5ZWXP0XQ  2020-07-20         tropical fruit
1      YOGWQIUPDAJ7  2020-04-30             whole milk
2      Q3NL22281AF6  2020-09-18              pip fruit
3      C59GRTLMZQAU  2020-12-11       other vegetables
4      WUSF8LTEQZ5L  2020-01-02             whole milk
...             ...         ...                    ...
32705  PM1BQU9H9S2Q  2019-06-05                    oil
32706  6AWIAP3ZV551  2019-08-10          sliced cheese
32707  LRWVFLSC8X5B  2019-02-23                  candy
32708  8KYRMELYKNIH  2019-04-16               cake bar
32709  41NGW85T47Q1  2019-03-12  fruit/vegetable juice

[32710 rows x 3 columns]

## تعداد محصولات یکتا در کل دادگان، چندتاست؟

In [11]:
df['Product'].nunique()

137

## میزان فروش به ازای هر روز به صورت میانگین چند است (تا دو رقم بعد از اعشار)؟

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32710 entries, 0 to 32709
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer Id  32710 non-null  object
 1   Date         32710 non-null  object
 2   Product      32710 non-null  object
dtypes: object(3)
memory usage: 766.8+ KB

In [41]:
print(f'{(df.Date.value_counts().mean()):.2f} %')

44.93 %

## چهار محصولی که کمتر از بقیه در سبد مشتریان قرار گرفته‌اند، کدامند (ترتیب مهم نیست)؟

In [43]:
df.groupby('Product').count()

                       Customer Id  Date
Product
Instant food products           60    60
UHT-milk                       320   320
abrasive cleaner                22    22
artif. sweetener                29    29
baby cosmetics                   3     3
...                            ...   ...
whipped/sour cream             654   654
white bread                    359   359
whole milk                    2363  2363
yogurt                        1285  1285
zwieback                        60    60

[137 rows x 2 columns]

In [76]:
least_product=list(df['Product'].value_counts(ascending=True).index[:4])

In [90]:
result=''
for x in least_product:
    if x!= least_product[-1]: 
        result += x+', '
    else:
        result +=x

In [91]:
print(result)

preservation products, kitchen utensil, baby cosmetics, bags

## پنج مشتری‌ای که در سال ۲۰۲۰، بیشترین تعداد "سبد" را داشته‌اند، کدامند (ترتیب مهم نیست)؟

In [120]:
df['Date2'] = pd.to_datetime(df['Date'])

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32710 entries, 0 to 32709
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer Id  32710 non-null  object
 1   Date         32710 non-null  object
 2   Product      32710 non-null  object
 3   Date2        32710 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 1022.3+ KB

In [178]:
df.head()

    Customer Id        Date           Product      Date2 day_of_week
0  JKML5ZWXP0XQ  2020-07-20    tropical fruit 2020-07-20      Monday
1  YOGWQIUPDAJ7  2020-04-30        whole milk 2020-04-30    Thursday
2  Q3NL22281AF6  2020-09-18         pip fruit 2020-09-18      Friday
3  C59GRTLMZQAU  2020-12-11  other vegetables 2020-12-11      Friday
4  WUSF8LTEQZ5L  2020-01-02        whole milk 2020-01-02    Thursday

In [170]:
df[df['Date2']>='2020-01-01']['Customer Id'].value_counts(ascending=False)

Customer Id
0ZRF32AJ06BC    26
KACGV5OJXMJW    23
0P1TPIH74E79    21
ED8WY0DE27XG    20
NQQZGF4K1FE0    20
                ..
R7NI4CQ9Q369     1
25NVXGTRIE9K     1
51MNXTIHDQL2     1
AVEOR3CX01PU     1
W18UX1FKSWLQ     1
Name: count, Length: 3298, dtype: int64

In [164]:
list_customer=list(df[(df['Date2']>='2020-01-01') & (df['Date2']<='2020-12-30')]['Customer Id'].value_counts().index[:5])

In [165]:
list_customer

['0ZRF32AJ06BC',
 'KACGV5OJXMJW',
 '0P1TPIH74E79',
 'ED8WY0DE27XG',
 'NQQZGF4K1FE0']

In [166]:
customer_output=''
for x in list_customer:
    if x!= list_customer[-1]: 
        customer_output+= x+', '
    else:
        customer_output+=x

In [167]:
print(customer_output)

0ZRF32AJ06BC, KACGV5OJXMJW, 0P1TPIH74E79, ED8WY0DE27XG, NQQZGF4K1FE0

## کدام روز هفته، بیشترین تعداد محصول فروش رفته‌است؟

In [171]:
df['day_of_week'] = df['Date2'].dt.day_name()

In [177]:
df.head()

    Customer Id        Date           Product      Date2 day_of_week
0  JKML5ZWXP0XQ  2020-07-20    tropical fruit 2020-07-20      Monday
1  YOGWQIUPDAJ7  2020-04-30        whole milk 2020-04-30    Thursday
2  Q3NL22281AF6  2020-09-18         pip fruit 2020-09-18      Friday
3  C59GRTLMZQAU  2020-12-11  other vegetables 2020-12-11      Friday
4  WUSF8LTEQZ5L  2020-01-02        whole milk 2020-01-02    Thursday

In [175]:
df['day_of_week'].value_counts(ascending=False).index[0]

'Wednesday'