In [2]:
import pandas as pd
import numpy as np

In [129]:
df = pd.read_csv("/home/mohe/Documents/supermarket.zip", compression='zip')
df

        Customer Id        Date                Product
0      JKML5ZWXP0XQ  2020-07-20         tropical fruit
1      YOGWQIUPDAJ7  2020-04-30             whole milk
2      Q3NL22281AF6  2020-09-18              pip fruit
3      C59GRTLMZQAU  2020-12-11       other vegetables
4      WUSF8LTEQZ5L  2020-01-02             whole milk
...             ...         ...                    ...
32705  PM1BQU9H9S2Q  2019-06-05                    oil
32706  6AWIAP3ZV551  2019-08-10          sliced cheese
32707  LRWVFLSC8X5B  2019-02-23                  candy
32708  8KYRMELYKNIH  2019-04-16               cake bar
32709  41NGW85T47Q1  2019-03-12  fruit/vegetable juice

[32710 rows x 3 columns]

In [130]:
df['Product'].nunique()

137

In [131]:
pivoted_Date = df.pivot_table(index=['Date'], aggfunc="count")
row, col = pivoted_Date.shape
cu, pr = pivoted_Date.sum()
round(pr/row, 2)

44.93

In [132]:
df.pivot_table(index=["Product"], aggfunc="count").sort_values(by="Date").head(4).index

Index(['kitchen utensil', 'preservation products', 'baby cosmetics', 'bags'], dtype='object', name='Product')

In [133]:
sdate = pd.to_datetime('2020-1-1')
edate = pd.to_datetime('2020-12-31')
df['Date'] = pd.to_datetime(df['Date'])
filtered_df = df[(df['Date'] >= sdate) & (df['Date'] <= edate)].sort_values(by="Date")
filtered_df.pivot_table(index=['Customer Id'], aggfunc="count").sort_values(by="Product", ascending=False).index[:5]

Index(['0ZRF32AJ06BC', 'KACGV5OJXMJW', '0P1TPIH74E79', '3HRBE45N5NB6',
       'ED8WY0DE27XG'],
      dtype='object', name='Customer Id')

In [134]:
df["day_name"] = df["Date"].dt.day_name()
df.pivot_table(index=["day_name"], aggfunc="count").sort_values(by='Product', ascending=False).head(1).index[0]

'Wednesday'

In [135]:
df.pivot_table(index=["Product"], aggfunc="count").sort_values(by="Date",ascending=False)

                       Customer Id  Date  day_name
Product
whole milk                    2363  2363      2363
other vegetables              1827  1827      1827
rolls/buns                    1646  1646      1646
soda                          1453  1453      1453
yogurt                        1285  1285      1285
...                            ...   ...       ...
make up remover                  5     5         5
bags                             4     4         4
baby cosmetics                   3     3         3
preservation products            1     1         1
kitchen utensil                  1     1         1

[137 rows x 3 columns]

In [136]:
a = df[df.Product.str.contains("/")]
a

        Customer Id       Date                    Product   day_name
5      MICEEAEQ9LX5 2020-02-14                 rolls/buns     Friday
14     5PA8L41ERU4H 2020-03-29      fruit/vegetable juice     Sunday
15     ILRK16Z152DV 2020-03-04  packaged fruit/vegetables  Wednesday
33     S0DI41Z183KZ 2020-02-21      fruit/vegetable juice     Friday
42     BU8EENK2ZYD5 2020-08-14                 rolls/buns     Friday
...             ...        ...                        ...        ...
32689  24NIDEJXHR01 2019-03-10         whipped/sour cream     Sunday
32694  A1905CA5K368 2019-08-06      fruit/vegetable juice    Tuesday
32702  ZWOQ373I6Y71 2019-10-29      fruit/vegetable juice    Tuesday
32703  T8X7HRNJ9T4P 2019-07-12                 rolls/buns     Friday
32709  41NGW85T47Q1 2019-03-12      fruit/vegetable juice    Tuesday

[2985 rows x 4 columns]

In [155]:
sup_cal = df.pivot_table(index=["Product"], aggfunc="count").sort_values(by="Date", ascending=False)
sup_cal["support"] = sup_cal["Customer Id"]/32710
sup_cal[sup_cal['support'] > 0.01]

                       Customer Id  Date  day_name   support
Product
whole milk                    2363  2363      2363  0.072241
other vegetables              1827  1827      1827  0.055854
rolls/buns                    1646  1646      1646  0.050321
soda                          1453  1453      1453  0.044421
yogurt                        1285  1285      1285  0.039285
root vegetables               1041  1041      1041  0.031825
tropical fruit                1014  1014      1014  0.031000
bottled water                  908   908       908  0.027759
sausage                        903   903       903  0.027606
citrus fruit                   795   795       795  0.024304
pastry                         774   774       774  0.023662
pip fruit                      734   734       734  0.022440
bottled beer                   678   678       678  0.020728
whipped/sour cream             654   654       654  0.019994
brown bread                    563   563       563  0.017212
domestic eggs                  555   555       555  0.016967
butter                         527   527       527  0.016111
fruit/vegetable juice          509   509       509  0.015561
beef                           508   508       508  0.015530
curd                           504   504       504  0.015408
margarine                      482   482       482  0.014736
coffee                         473   473       473  0.014460
frozen vegetables              419   419       419  0.012810
chicken                        417   417       417  0.012748
white bread                    359   359       359  0.010975
dessert                        353   353       353  0.010792
chocolate                      353   353       353  0.010792
napkins                        331   331       331  0.010119

In [156]:
sup_cal = df.pivot_table(index=["Product"], aggfunc="count").sort_values(by="Date", ascending=False)
sup_cal["support"] = sup_cal["Customer Id"]/32710
sup_cal.tail()

                       Customer Id  Date  day_name   support
Product
make up remover                  5     5         5  0.000153
bags                             4     4         4  0.000122
baby cosmetics                   3     3         3  0.000092
preservation products            1     1         1  0.000031
kitchen utensil                  1     1         1  0.000031