In [1]:
import pandas as pd
import numpy as np

In [2]:
df =pd.read_csv('train.csv')

## ابتدا تعداد سطر و سپس تعداد ستون‌های این دادگان را به دست آورید‌ (با space، جدا کنید) :

In [11]:
print(f'{df.shape[0]} {df.shape[1]}')

1590 10

## متوسط درآمد سالانه مشتریان چه‌ قدر است (فقط قسمت عدد صحیح)؟

In [10]:
df.head()

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No

In [16]:
int(df['AnnualIncome'].mean())

928553

## چند نفر از مشتریان سابقه سفر خارجی داشته‌اند؟

In [23]:
df[df['EverTravelledAbroad'] == 'Yes'].size

3020

## بیشتر افراد، در بخش خصوصی به کار گرفته شده‌اند و یا بخش دولتی؟ چند درصد افراد در آن بخش مشغول هستند (با دقت دو رقم اعشار)؟

In [112]:
new=df.groupby('Employment Type').count()

In [113]:
new.sort_values('Age',ascending=False,inplace=True)

In [114]:
private,government=df['Employment Type'].value_counts()

In [115]:
all_employee=private+government

In [116]:
print(f'{new.index[0]} is more than othes')

Private Sector/Self Employed is more than othes

In [117]:
print(f'{(private/all_employee)*100:.2f} %')

72.64 %

 ## چند درصد از افرادی که بیماری زمینه‌ای دارند، خودشان را برای سفر بیمه کرده‌اند (دقت تا دو رقم اعشار)؟

In [50]:
chronic_dis=df[df['ChronicDiseases']==1]

In [51]:
chronic_dis

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No
5,V4GZ5HKMGHZ1,28,Government Sector,Yes,300000,6,1,No,No,No
14,D9M4QDEJFMDL,30,Private Sector/Self Employed,No,750000,3,1,No,No,Yes
15,HOJG4E0IMD3U,29,Private Sector/Self Employed,Yes,1350000,7,1,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...
1563,C70HFLJF7640,30,Private Sector/Self Employed,No,800000,4,1,Yes,No,No
1568,8CUXXHH4MD44,35,Private Sector/Self Employed,No,800000,7,1,No,No,Yes
1581,231OGPC8MOZH,26,Private Sector/Self Employed,Yes,600000,4,1,No,No,No
1586,2JEE5P5T9MT0,34,Private Sector/Self Employed,Yes,850000,3,1,No,Yes,No
1589,8VEME4MXPTBC,28,Private Sector/Self Employed,Yes,750000,5,1,Yes,No,No

In [53]:
insurance_chronic=chronic_dis[chronic_dis['TravelInsurance']=='Yes']

In [55]:
print(f'{(insurance_chronic.size/chronic_dis.size)*100:.2f} %')

37.53 %