In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('../../../../datasets/supermarket.zip',compression='zip')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32710 entries, 0 to 32709
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer Id  32710 non-null  object
 1   Date         32710 non-null  object
 2   Product      32710 non-null  object
dtypes: object(3)
memory usage: 766.8+ KB

In [4]:
df.describe()

         Customer Id        Date     Product
count          32710       32710       32710
unique          3893         728         137
top     0P1TPIH74E79  2020-01-21  whole milk
freq              32          80        2363

In [5]:
df.head(2)

    Customer Id        Date         Product
0  JKML5ZWXP0XQ  2020-07-20  tropical fruit
1  YOGWQIUPDAJ7  2020-04-30      whole milk

In [12]:
len(df.Product.unique())

137

In [27]:
product_group = df.groupby('Date').agg(count_Product=('Product', 'count'))

In [28]:
product_group.mean().round(2)

count_Product    44.93
dtype: float64

In [30]:
product_group.sort_values('count_Product',).head(4)

            count_Product
Date
2020-03-15             17
2020-03-16             18
2020-01-09             18
2019-04-07             20

In [41]:
df.Product.value_counts().sort_values(ascending=True).head(4)

Product
preservation products    1
kitchen utensil          1
baby cosmetics           3
bags                     4
Name: count, dtype: int64

In [50]:
df["Date"]=pd.to_datetime(df["Date"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32710 entries, 0 to 32709
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer Id  32710 non-null  object
 1   Date         32710 non-null  datetime64[ns]
 2   Product      32710 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 766.8+ KB

In [75]:
# product_group = 
start_date , end_date = '2020-01-01', '2020-12-30'
mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
df_2020 = df.loc[mask ] 
df_2020.groupby(['Customer Id']).agg(count_cart=('Customer Id', 'count')).sort_values('count_cart',ascending=False)[:5]

              count_cart
Customer Id
0ZRF32AJ06BC          26
KACGV5OJXMJW          23
0P1TPIH74E79          21
NQQZGF4K1FE0          20
3HRBE45N5NB6          20

In [98]:
df['Weekday'] = df.Date.dt.day_name()
df.groupby('Weekday').agg(count_weekday=('Weekday','count')).sort_values('count_weekday')

           count_weekday
Weekday
Sunday              4480
Friday              4539
Thursday            4614
Monday              4655
Saturday            4774
Tuesday             4802
Wednesday           4846

In [135]:
number_of_all_basket = df['Customer Id'].unique().__len__()

In [145]:
def get_support(x):
    return  x.count_Product/number_of_all_basket

In [161]:
product_group = df.groupby(['Product']).agg(count_Product=('Product', 'count')
                    ).apply(lambda x: x/number_of_all_basket
                           ).sort_values('count_Product',ascending=False)
product_group[:5]

                  count_Product
Product
whole milk             0.606987
other vegetables       0.469304
rolls/buns             0.422810
soda                   0.373234
yogurt                 0.330080

In [ ]:
# product_group = df.groupby(['Customer Id','Product']).agg(count_Product=('Product', 'count')).apply(get_support,axis=1)
# pd.pivot_table(product_group,index='Product',columns='Customer Id' ,aggfunc='mean')

In [163]:
product_group_top= product_group[product_group["count_Product"]>=0.01]
product_group_top

                        count_Product
Product
whole milk                   0.606987
other vegetables             0.469304
rolls/buns                   0.422810
soda                         0.373234
yogurt                       0.330080
...                               ...
house keeping products       0.011559
sauces                       0.011302
cereals                      0.010789
softener                     0.010532
spices                       0.010275

[95 rows x 1 columns]